    <% content_for(:title, 'About') %>
    <div class="twothirds">
      <h2>About GameGum</h2>
      <p>GameGum is a flash gaming community.  Created to support game players and developers, we provide our users with the tools to find, play, and interact with our diverse collection of flash games and their authors.  Game authors and publishers may submit their games to our portal easily, gaining rank and popularity depending on the users response.</p>
      <p>GameGum was created by Nate Wienert who continues to run the main day to day operations.  The backend is powered by Ruby on Rails 3.0.</p>
      
      <h2>Contact Us</h2>
      <p>Please send a PM or email to <strong><%= link_to 'proph3t', '/users/17' %></strong>.</p>
      
      <h2>Media</h2>
      <p>Our logo.  Feel free to scale it down and crop it as you like:</p>
      <img alt="GameGum Logo" src="<%= root_url %>images/logo_large.jpg" /><br /><br />
    </div>