  <% content_for(:title, 'Advertise on GameGum') %>
  <div class="twothirds">
    <h2>Advertise on GameGum</h2>
    <p>GameGum is a large and rapidly growing flash game website built around a community of avid flash enthusiasts.  Our demographic is targeted for almost any entertainment or media based advertisement, and is especially effective for those who which to advertise to the 13-30 male age group.  Visitors are generated from natural sources and through extremely relevant links, and the vast majority of traffic is based in America, with almost all other sources coming from other English speaking counties.</p>
    
    <h2>Contact Us</h2>
    <p>You can contact us about custom advertising solutions through our <%= link_to '<strong>contact form</strong>'.html_safe, :controller => 'main', :action => 'contact' %>.</p>

    <h2>Homepage Links</h2>
    <p>We sell homepage links through <a href="http://www.text-link-ads.com/packages.php?query=gamegum&cat_id=&link_pop=&alexa_rank=&num_pages=&on_homepage=&num_sold=&max_price=&submit.x=0&submit.y=0&submit=Filter+Packages"><strong>Text Link Ads</strong></a>, but if you contact us here there is a good chance we can offer a discounted rate, especially for long term placements.</p></if>
  </div>