  <% content_for(:title, 'Affiliates') %>
  <div id="content" class="full">
    <h3>Affiliates</h3>
    <p>To participate in a link trade with us, please use our <a href="<%= root_url %>/contact/">contact form</a> with information on your site and put the words "Link Exchange" in the subject field.</p>

  </div>