<% content_for(:title, 'Rules and Regulations') %>
  <div class="twothirds">
    <h2>Rules and Regulations</h2>
    <ul>
      <li>All language that is considered vulgar, racist, or inflammitory will not be tolerated, and will be removed accompanying a warning.</li>
      <li>Self promotional content or content that is considered spam will also not be tolerated and will be removed accompanying a warning.</li>
      <li>Flaming or disputing in a rude or vulgar way with other members will not be tolerated and will be removed accompanying a warning.</li>
      <li>GameGum reserves the right to edit or delete any content submitted by any user. We also reserve the right to capture and use a screenshot of your submissions when they are featured.</li>
    </ul>
    
    <h3>Privacy Policy</h3>
    <p>All personal information entered upon registration is solely used within GameGum. Your personal information will never be sold or distributed to any third party. We only ever access a users personal information when dealing with suspected spammers or users who abuse the rules and terms on this page.</p>
    
    <h3>Game Submission Guidelines &amp; Information</h3>
    <ul>
      <li>All rights to your game and the contents thereof are reserved by you (the author), GameGum does not control or retain any rights over the content submitted to our website besides the right to edit the details you have entered, or remove the game entirely.</li>
      <li>Games submitted by you, including all content (ie video, music, images, text) within them, must be of your own creation, or you must have permission or rights given or avaliable to you in order for you to submit the game. You may not submit work that is in violation of the copyrights of others.</li>
      <li>Games submitted should exercise restraint with regards towards displaying illicit use, violence, and pornography.  Any content submitted that is in violation of US law will be reported to authorities.</li>
      <li>Games must not attempt to redirect users or force them to visit another website.</li>
      <li>Games must be games. Do not blatantly create spam or promote other interests and please do not submit movies or other flash works that are not games.</li>
      <li>Submitting a game and then editing it to be another game altogether is not allowed, and you will be either warned or banned.</li>
      <li>GameGum reserves the rights to remove any game at any time, and edit the title and description.</li>
    </ul>
  </div>
  
  <div class="onethird">
    <h3>All good?</h3>
    <h4><%= link_to 'Sign up now', register_path %></h4>
  </div>