.bundle
.lock
db/*.sqlite3
log/*.log
tmp/pids
tmp/sessions
tmp/sockets
tmp/cache/*
!tmp/cache/.gitkeep
lib/previous_*
public/flash
public/icons
public/avatars
.DS_Store
.esproj
public/*/cache/*
.sass-cache/
public/assets/*
Gemfile.lock