<html><body>
  <p>Hello, <strong><%= user.login %></strong>,</p>

  <p><strong>Your account is now active!</strong> You may begin submitting games, posting in the forums, and commenting on the games.</p>
  
  <p>Thank you!</p>
  <p><strong><a href="http://www.gamegum.com">GameGum</a></strong></p>
</body></html>