<html><body>
  <p>Hello, <strong><%= @user.login %></strong>,</p>

  <p><strong>You have requested to reset your password.</strong></p>

  <p>Your new password is: <strong><%= @reset %></strong></p>
  
  <p>Please <a href="http://www.gamegum.com/account/">login to your account</a> and set a new password!</p>
  
  <p>Thank you!</p>
  <p><strong><a href="http://www.gamegum.com">GameGum</a></strong></p>
</body></html>