<html><body>
  <p>Hello, <strong><%= @user.login %></strong>,</p>

  <p><strong>You are one step away from activating your account on GameGum!</strong></p>

  <p>Visit this url to activate your account:
  <a href="<%= @url %>"><%= @url %></a></p>
  
  <p>Thank you!</p>
  <p><strong><a href="http://www.gamegum.com">GameGum</a></strong></p>
</body></html>