  <% content_for(:title, 'Browse') %>
	<%= render :partial => 'nav' %>
	
	<div class="head_info">
	  <div class="onethird game">
	      <h2>Browse Games</h2>
	  </div>
	  <div class="twothirds nopad">
	    <%= render :partial => 'shared/ad_leaderboard' %>
	  </div>
	</div>
	
  <div class="contain">
    <%= render :partial => 'td_list' %>
  </div>