<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>GameGum Admin</title>

  <%= stylesheet_link_tag 'admin.css' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js', 'rails' %>
  <%= active_scaffold_includes %>
</head>

<body>
  <div id="main">
    <h1>GameGum Admin</h1>
<%= yield  %>
  </div>
</body>
</html>